*.gob
*.key
*.vim
.deploy
.dev
.fontello
bootstrap-2.3.2
ghostbin
paste
paste.linux
pastes/*
public/css/*.less.css
public/css/*.gen.css
public/css/*.min.css
public/js/*.gen.js
public/js/*.min.js
pygments
restarter
session.key
sessions/session_*
templates/_local.tmpl
xattr
accounts/*

node_modules
build
.tmpl
