/* Envy Code R (http://damieng.com/envy-code-r) used with permission from Damien Guard.
 * He's awesome. Patronize his site and love his font. */
@font-face {
	font-family: 'Envy Code R';
	src: url('../fonts/Envy Code R.eot');
	src: local('☺'), url('../fonts/Envy Code R.woff') format('woff'), url('../fonts/Envy Code R.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'LatinModernSans10';
    src: url('../fonts/lmsans10-regular-webfont.eot');
    src: url('../fonts/lmsans10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lmsans10-regular-webfont.woff') format('woff'),
         url('../fonts/lmsans10-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatinModernSans10';
    src: url('../fonts/lmsans10-bold-webfont.eot');
    src: url('../fonts/lmsans10-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lmsans10-bold-webfont.woff') format('woff'),
         url('../fonts/lmsans10-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
