/* EnvyCodeRWeb (http://damieng.com/envy-code-r) used with permission from Damien Guard.
 * He's awesome. Patronize his site and love his font. */
@font-face {
    font-family: 'EnvyCodeRWeb';
    src: url('../fonts/envy_code_r-webfont.eot');
    src: url('../fonts/envy_code_r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/envy_code_r-webfont.woff') format('woff'),
         url('../fonts/envy_code_r-webfont.ttf') format('truetype'),
         url('../fonts/envy_code_r-webfont.svg#envy_code_rregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EnvyCodeRWeb';
    src: url('../fonts/envy_code_r_bold-webfont.eot');
    src: url('../fonts/envy_code_r_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/envy_code_r_bold-webfont.woff') format('woff'),
         url('../fonts/envy_code_r_bold-webfont.ttf') format('truetype'),
         url('../fonts/envy_code_r_bold-webfont.svg#envy_code_rbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
