html, body {
	height: 100%;
	margin: 0;
}

body {
	background-color: #2a2a2a;
}

textarea { min-height: 2em; resize: vertical; }

input[type=password] {
	margin-bottom: 0;
}

.input-prepend {
	color: rgb(51, 51, 51);
	margin-bottom: 0px;
}

.paste {
	min-height: 100%;
	background-color: #2a2a2a;
	color: #ebebeb;
	border: 1px solid rgba(0, 0, 0, 0.15);
	line-height: normal;
}

.paste.paste-miniature {
	min-height: 0;
	height: auto;
	margin: 0px 0px 5px;
	border-radius: 4px;
}

.paste .code {
	font-family: 'Envy Code R', 'monospace';
	font-size: 12pt;
	padding: 9.5px;
	line-height: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 14pt;
}

.paste.paste-miniature .code {
	font-size: 8pt;
	padding: 4px;
}

.paste div.code {
	white-space: pre;
	overflow-x: auto;
	text-overflow: clip;
}

.paste textarea.code {
	/* Fix the text field's appearance */
	background-color: inherit;
	color: inherit;
	border: none;
	margin-bottom: 0px;
	/* There are no line numbers here yet. */
	width: 100%;
}

.paste textarea.code:focus, .paste textarea.code {
	outline: none none !important;
	box-shadow: none;
	-webkit-appearance: none;
}

.paste .code.code-line-numbers {
	color: #555;
	width: auto;
	padding-right: 4px;
	padding-left: 4px;
	text-align: right;
	font-size: 8pt;
	line-height: 14pt;
	float: left;
	clear: none;
}

ul.paste-list {
	list-style: none;
	padding: 9.5px;
	margin: 0;
}

ul.paste-list > li {
	padding: 4px;
}

ul.paste-list > li:hover {
	background-color: #333;
}

ul.paste-list > li > a {
	text-decoration: none;
}

div.paste-toolbox {
	background-color: #222;
	padding: 6px;
}

span.paste-title {
	font-size: 16pt;
	color: white;
	vertical-align: middle;
}

span.paste-title .paste-subtitle {
	font-size: 10pt;
	color: #999;
}

.well {
	margin: 10px;
	min-height: 20px;
	padding: 15px;
	border: 1px solid black;
	border-radius: 4px;
}

.well .well-title {
	font-size: 125%;
}

.paste .well {
	border-color: #444;
	background-color: #333;
}

.paste .well.well-error {
	border-color: #500;
	background-color: #422;
}

form {
	margin-bottom: 0;
	height: 100%;
}

.icon-large:before {
	/* Copied from font-awesome.css */
	vertical-align: -10%;
	font-size: 1.3333333333333333em;
}

.dropdown {
	width: 250px;
}

.input-prepend.phone-expand {
	position: relative;
}

.input-prepend.phone-expand .input-wrapper {
	display: inline-block;
}

.paste .textarea-height-wrapper {
	display: inline;
}

.btn-trough {
	line-height: 34px;
	text-align: center;
}

@media (min-width: 767px) {
	div.paste-toolbox {
		height: 32px;
	}
	.paste {
		position: relative;
	}
	.paste .textarea-height-wrapper {
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 44px;
		bottom: 0;
	}
	.paste .textarea-height-wrapper textarea {
		display: block;
		width: 100%;
		height: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#paste-controls {
		display: inline;
	}
}

@media (max-width: 767px) {
	html, body {
		height: auto;
		padding: 0px;
	}
	.well {
		margin: 0;
	}
	.paste {
		min-height: 0;
		height: auto;
	}
	#paste-controls {
		display: block;
	}
	#phone-paste-control-container.well {
		padding: 4px;
	}
	.paste .code {
		font-size: 10pt;
		line-height: 12pt;
	}
	.paste .code.code-line-numbers {
		line-height: 12pt;
	}
	span.paste-title {
		font-size: 14pt;
		display: inline-block;
		line-height: 1em;
		margin-top: -4px;
	}
	span.paste-title .paste-subtitle {
		line-height: 1em;
		font-size: 8pt;
		margin-top: .2em;
		display: block;
	}
	.dropdown {
		padding: 0px;
	}
	.dropdown,
	.phone-expand,
	.btn-phone-expand,
	.visible-phone .btn-group,
	.visible-phone .btn {
		width: 100%;
		margin-left: 0;
		margin-top: .25em;
		margin-bottom: .25em;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.visible-phone .btn-group .btn {
		width: 50%;
		margin-top: 0;
		margin-bottom: 0;
	}
	.dropdown.select2-offscreen {
		width: 1px !important;
	}
	.input-prepend.phone-expand .input-wrapper {
		display: block;
		position: absolute;
		left: 29px;
		right: 0;
		top: 0;
		bottom: 0;
	}
	.input-prepend.phone-expand .input-wrapper input {
		display: block;
		width: 100%;
		height: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
