/* Envy Code R (http://damieng.com/envy-code-r) used with permission from Damien Guard.
 * He's awesome. Patronize his site and love his font. */
@font-face {
	font-family: 'Envy Code R';
	src: url('/assets/fonts/Envy Code R.eot');
	src: local('☺'), url('/assets/fonts/Envy Code R.woff') format('woff'), url('/assets/fonts/Envy Code R.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

