.code {
	font-family: 'Envy Code R';
	font-size: 12pt;
	min-height: 40%;
	background-color: #222;
	color: #ebebeb;
}

div.code {
	padding: 9.5px;
	margin: 0px 0px 10px;
	white-space: pre;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	overflow-x: auto;
	text-overflow: clip;
}

div.code-miniature {
	padding: 4px;
	margin: 0px 0px 5px;
	white-space: pre;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	overflow-x: auto;
	text-overflow: clip;
	font-size: 8pt;
	font-family: 'Envy Code R';
	background-color: #222;
	color: #ebebeb;
}

body .well {
	margin-top: 10px;
}

input,
button,
select,
textarea,
body {
	font-family: "LatinModernSans10Regular";
}
