{{define "header"}}
<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	<title>Ghostbin</title>
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/assets/css/master.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/assets/css/fonts.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/assets/css/pygments.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
	<div class="navbar navbar-static-top navbar-inverse">
		<div class="navbar-inner">
			<a class="brand pull-right" href="/">Ghostbin</a>
		</div>
	</div>
	<div class="container">
{{end}}
{{define "footer"}}
	</div>
</body>
</html>
{{end}}
{{define "pastebox"}}
<textarea name="text" class="input-block-level code" rows="20">{{if .}}{{.}}{{end}}</textarea>
{{end}}
{{define "submit"}}
<div class="pull-right">
<select name="lang">
{{range langs}}
<option value="{{.ID}}">{{.Title}}</option>
{{end}}
</select>
<input type="submit" value="{{if .}}{{.}}{{else}}Submit{{end}}" class="btn btn-primary btn-large">
</div>
{{end}}
