{{define "page_paste_show"}}
{{template "header" .}}
<h1>Paste {{.ID}} <small>{{index langs .Language}}</small></h1>
<div class="code input-block-level">{{.Render}}</div>
<div class="pull-right">
<a href="{{.URL}}/edit" class="btn btn-large">Edit</a>
</div>
{{template "footer" .}}
{{end}}
