{{define "page_paste_edit"}}
{{template "header" .}}
<h1>Paste {{.ID}}</h1>
<form action="{{.URL}}/edit" method="post">
{{template "pastebox" .Body}}
{{template "submit" "Save"}}
<input type="button" value="Delete" class="btn btn-danger btn-large">
</form>
{{template "footer" .}}
{{end}}
