{{define "page_paste_show"}}
{{template "header" .}}
<h1>Paste {{.Obj.ID}} <small>{{with index langs .Obj.Language}}{{.}}{{else}}({{.Obj.Language}}){{end}}</small></h1>
<div class="code input-block-level">{{.Obj.Render}}</div>
<div class="pull-right">
<a href="{{.Obj.URL}}/edit" class="btn btn-large">Edit</a>
</div>
{{template "footer" .}}
{{end}}
