{{define "session_title" -}}
Session
{{- end}}

{{define "session_body" -}}
{{- $pastes := local . "pastes" -}}
<div class="paste-toolbox">
	{{template "home-button"}}
	<span class="paste-title">
		<strong>All Pastes by You</strong>
		<span class="paste-subtitle">{{len $pastes}}</span>
	</span>
</div>
<ul class="paste-list">
{{range $pastes -}}
{{- $language := getLanguageNamed .GetLanguageName -}}
	<li>
		<a href="{{generatePasteURL "show" .}}"><span class="paste-title">
			<strong>
				{{- with .GetTitle -}}
					{{- . -}}
				{{- else -}}
					{{- .GetID -}}
				{{- end -}}
			</strong>
			<span class="paste-subtitle">
				{{- $language.Name -}}
				{{- if .IsEncrypted -}}
					<i class="icon-lock"></i>
				{{- end -}}
				{{- with .GetExpirationTime -}}
					<i class="icon-clock" data-value="{{.UTC.Unix}}"></i>
				{{- end -}}
			</span>
		</span></a>
	</li>
{{- end}}
</ul>
{{- end}}
