{{define "header"}}
<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>{{if .}}{{.}} - {{end}}Ghostbin</title>
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
	{{assets "css" "bootstrap" "fonts" "fontello" "pygments" "ansi" "select2" "select2-bootstrap"}}
	{{assets "js" "jquery-2.0.3" "bootstrap" "select2" "application"}}
	{{assets "less" "master"}}
</head>
<body>
{{end}}

{{define "footer"}}
</body>
</html>
{{end}}

{{define "home-button"}}
<a title="Home" href="/" id="home" class="btn btn-inverse"><i class="icon-home icon-large"></i></a>
{{end}}
