{{define "header"}}
<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Ghostbin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/css/bootstrap-responsive.min.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/css/master.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/css/fonts.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/css/pygments.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/css/ansi.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/css/select2.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/css/select2-bootstrap.css" type="text/css" media="screen">
	<script src="/js/jquery-2.0.0.min.js"></script>
	<script src="/js/select2.min.js"></script>
</head>
<body>
	<div class="navbar navbar-static-top navbar-inverse">
		<div class="navbar-inner">
			<a class="brand pull-right" href="/">Ghostbin</a>
		</div>
	</div>
	<div class="row-fluid"><div class="span10 offset1">
{{end}}

{{define "footer"}}
	</div></div>
</body>
</html>
{{end}}

{{define "pastebox"}}<textarea name="text" class="input-block-level code" rows="20">{{if .}}{{.}}{{end}}</textarea>{{end}}

{{define "langbox"}}{{ $lang := or .Language "text" }}{{if langByLexer $lang | not}}{{$lang := "text"}}{{end}}<select class="dropdown" id="langbox" name="lang">
{{range $l := langs}}<option value="{{$l.Name}}"{{if .}}{{if equal $lang $l.Name}} selected{{end}}{{end}}>{{$l.Title}}</option>{{end}}
</select><script>$(document).ready(function() { $("#langbox").select2(); });</script>{{end}}

{{define "submit"}}<div class="pull-right">
{{template "langbox" .}}
<input type="submit" value="{{if .}}Save{{else}}Paste!{{end}}" class="btn btn-primary">
</div>{{end}}
