{{define "tmpl_page"}}<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">

	{{with subtemplate . "title"}}
	<title>{{.}} - {{brand}}</title>
	{{else}}
	<title>{{brand}}</title>
	{{end}}
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/site-icon120.png" sizes="120x120">
	<link rel="apple-touch-icon" href="/site-icon152.png" sizes="152x152">
	<link rel="apple-touch-icon" href="/site-icon76.png" sizes="76x76">
	<link rel="apple-touch-icon" href="/site-icon72.png" sizes="72x72">

	<!-- build:css /css/lib.min.css -->
	<link rel="stylesheet" href="/css/fontello.css" type="text/css" media="all">
	<link rel="stylesheet" href="/css/fonts.css" type="text/css" media="all">
	<link rel="stylesheet" href="/css/inter-ui.css" type="text/css" media="all">
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="all">
	<link rel="stylesheet" href="/css/icon_effects.css" type="text/css" media="all">
	<link rel="stylesheet" href="/css/select2.css" type="text/css" media="all">
	<link rel="stylesheet" href="/css/select2-bootstrap.css" type="text/css" media="all">
	<!-- endbuild -->

	<!-- build:less /css/application.min.css -->
	<link rel="stylesheet/less" href="/css/master.less" type="text/css" media="all">
	<!-- endbuild -->

	<!-- build:remove -->
	<script src="/js/less.js" type="text/javascript"></script>
	<!-- endbuild -->

	<!-- build:css /css/theme.min.css -->
	<link rel="stylesheet" href="/css/theme-pygments.css" type="text/css" media="all">
	<link rel="stylesheet" href="/css/theme-ansi.css" type="text/css" media="all">
	<!-- endbuild -->

	<!-- build:js /js/lib.min.js -->
	<script src="/js/jquery-2.0.3.js" type="text/javascript"></script>
	<script src="/js/select2.js" type="text/javascript"></script>
	<script src="/js/spectre.jQuery.js" type="text/javascript"></script>
	<script src="/js/bootstrap.js" type="text/javascript"></script>
	<script src="/js/mozcookies.js" type="text/javascript"></script>
	<!-- endbuild -->

	<!-- build:js /js/application.min.js -->
	<script src="/js/application.js" type="text/javascript"></script>
	<!-- endbuild -->

	{{subtemplate . "head"}}
</head>
<body>
	<div class="flash-container" id="flash-container">
		<div class="well" id="flash-template">
			<p></p>
		</div>
	</div>
{{with subtemplate . "body"}}
{{.}}
{{else}}
{{template "missing_page_body" .}}
{{end}}
</body>
</html>{{end}}

{{define "home-button"}}
<a title="Home" href="/" id="home" class="btn btn-inverse"><i class="icon-home icon-large"></i></a>
{{end}}

{{define "missing_page_body"}}
<div class="paste-toolbox">
	{{template "home-button"}}
	<span class="paste-title">
		<strong>Wat Machine</strong>
	</span>
</div>
<div class="content">
<p>
<strong>AIEEEEEE!</strong><br>
It looks like you've stumbled upon a page (<strong>{{.Page}}</strong>) that should exist, but doesn't have a template?
</p>
</div>
{{end}}

{{define "options_modal"}}
<div id="optionsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3>Options</h3>
	</div>
	<div class="modal-body">
		<h4><i class="icon icon-remember"> </i>Persistence</h4>
		<label class="checkbox">
			<input name="saveLanguage" type="checkbox" data-gb-key="saveLanguage"> Remember my last-used language
		</label>
		<label class="checkbox">
			<input name="saveExpiration" type="checkbox" data-gb-key="saveExpiration"> Remember my last-used expiration
		</label>
		<h4><i class="icon icon-user"> </i>Account</h4>
		{{partial . "login_logout"}}
		<h4><i class="icon icon-wrench"> </i>Miscellanea</h4>
		<p><a target="_blank" href="/about">About {{brand}}</a> <small>(in a new window)</small>
		<br><a href="/session">My Pastes</a></p>
	</div>
	<div class="modal-footer">
		<button data-dismiss="modal" class="btn" aria-hidden="true">Okay</button>
	</div>
</div>
{{end}}
