{{define "partial_login_logout"}}
<div class="blocker hide"><div class="spinner"><i class="icon icon-spinner icon-effect-spin"> </i></div></div>
{{if user .}}
<p>You are logged in.</p>
<button type="button" id="logout" class="btn"><i class="icon icon-logout"> </i>Log Out</button>
<script type="text/javascript">
$("button#logout").on("click", function() {
	Spectre.logout();
});
</script>
{{else}}
<p><small>{{brand}} user accounts exist solely for keeping track of your own pastes.<br>No personally-identifying information is
retained as part of your user account. Promise.</small></p>
<div class="well well-small">
	<form id="loginForm" action="">
		<input type="hidden" name="type" value="username">
		{{/*if .Obj}}{{with .Obj.token}}<input type="hidden" name="requested_auth_token" value="{{.}}">{{end}}{{end*/}}
		<div class="control-group">
			<div class="input-prepend phone-expand">
				<span class="add-on"><i class="icon icon-user"> </i></span>
				<div class="controls input-wrapper"><input type="text" name="username" autocomplete="off" placeholder="username"></div>
			</div>
		</div>
		<div class="control-group">
			<div class="input-prepend phone-expand">
				<span class="add-on"><i class="icon icon-key"> </i></span>
				<div class="controls input-wrapper"><input type="password" name="password" autocomplete="off" placeholder="password"></div>
			</div>
		</div>
		<div class="control-group hide">
			<div class="input-prepend phone-expand">
				<span class="add-on"><i class="icon icon-key"> </i></span>
				<div class="controls input-wrapper"><input type="password" name="confirm_password" autocomplete="off" placeholder="confirm"></div>
			</div>
		</div>
		<button type="submit" class="btn phone-expand"><i class="icon icon-login"> </i>Log In or Create Account</button>
		<div id="login_error" class="phone-expand error hide"></div>
		<div id="login_moreinfo" class="phone-expand info hide"></div>
	</form>
</div>
<script type="text/javascript">
$("form#loginForm").on('submit', function(event) {
	Spectre.login($(this).serializeObject());
	event.preventDefault();
	event.stopPropagation();
});
</script>
{{end}}
{{end}}

{{define "authtoken_body"}}
<div class="paste-toolbox">
	{{template "home-button"}}
	<span class="paste-title">
		<i class="icon-lock"></i><strong>External Auth</strong>
	</span>
</div>
<div class="well">
{{partial . "login_logout"}}
</div>
{{end}}
