{{define "about_title"}}About{{end}}
{{define "about_body"}}
<div class="paste-toolbox">
	{{template "home-button"}}
	<span class="paste-title">
		<strong>About {{brand}}</strong>
	</span>
</div>
<div class="content">
<h1>{{brand}}</h1>
<p>
{{brand}} is a paste service engine.
</p>
</div>
{{end}}
