{{define "page_about"}}
{{template "header" "About"}}
<div class="paste">
<div class="paste-toolbox">
	{{template "home-button"}}
	<span class="paste-title">
		<strong>About Ghostbin</strong>
	</span>
</div>
<div class="content">
<h1>Ghostbin</h1>
<p>
Ghostbin is a paste service, so I'm going to skip that part: it's fairly obvious. The real interesting questions are "why did you build it?" and "where did I get all these bees?"
</p>
<p>
For the first, I'd like to first list my inspirations and driving motives. When I started, I'd recently fallen in love with a small font named <strong>Envy Code R</strong>.
I'd wanted to put together a paste service (under my own control) for some time, and Envy provided the final impetus: It made my code look awesome. More awesome than the code
actually was, in fact.
</p>
<p>
At nearly the same time, I'd decided that I wanted to learn Go. This provided the missing other half of the puzzle: an implementation to experiment with.
</p>
<p>
Other popular, functional and attractive pastebin services certainly do exist, but I found them to be somewhat lacking:
<ul>
<li>Pastie was cool, but eventually the ability to delete private pastes disappeared. Then, the ability to even <em>edit</em> private pastes &ndash; which was rather useful for affecting a simulacrum of deletion &ndash; disappeared. Pastie is not private-by-default.</li>
<li>Pastee is private-by-default and has both encryption and expiration, but it looks like it fell out of the ugly tree and hit every branch on the way down. It's functional, though, and that's great. It seems to use <em>pygments</em>, much like
Ghostbin, but it doesn't appear to have an updated language list.</li>
<li>Hastebin looks neat. I have no qualms with it.</li>
</ul>
</p>
<p>
Ghostbin is an attempt at not only solving the above, but also solving some issues in the industry &ndash; such as, but not limited to, me not knowing Go. It's <a href="http://git.howett.net/paste.git">open-source</a> and I don't think it'll be going anywhere any time soon.
It supports encryption, expiration, pastes up to one megabyte, and about six billion languages. Well, some hundreds at the very least. Also, doesn't that paint job look simply dandy?
</p>
<p>
And get your bees away from me. I don't even know why they're following you around.
</p>
<p class="signature">
Dustin L. Howett
</p>
</div>
</div>
{{template "footer" .}}
{{end}}
