{{define "admin_reports_title"}}Administration (Reports){{end}}
{{define "admin_reports_body"}}
<div class="paste-toolbox">
	{{template "home-button"}}
	<span class="paste-title">
		<strong>Administration (Reports)</strong>
	</span>
</div>
<ul class="report-list">
{{range $pasteID, $reportData := .Obj}}<li>
	<div class="report-buttons">
		<a title="View Paste" href="/paste/{{$pasteID}}" target="_blank" class="btn btn-link"><i class="icon-file-text"></i></a>

		<form action="/admin/paste/{{$pasteID}}/delete?redir=reports" method="post">
			<button title="Delete Paste" type="submit" class="btn btn-link">
				<i class="icon-trash"></i>
			</button>
		</form>

		<form action="/admin/paste/{{$pasteID}}/clear_report" method="post">
			<button title="Clear Report" type="submit" class="btn btn-link">
				<i class="icon-cancel"></i>
			</button>
		</form>
	</div>

	<div class="report-contents">
		<span class="paste-title">
		<strong>{{$pasteID}}</strong>
		<span class="paste-subtitle">
		{{range $reportType, $count := $reportData}}
			{{$reportType}} x{{$count}}
		{{end}}
		</span>
		</span>
		<div class="well paste-miniature">
			<div class="code">{{with pasteFromID $pasteID}}{{truncatedPasteBody . 5}}{{end}}</div>
		</div>
	</div>
	<div class="clearfix"></div>
</li>{{else}}
<div class="well">No reports!</div>
{{end}}
</ul>
{{end}}
