{{define "partial_warning_title"}}<div class="paste-toolbox">
	{{template "home-button"}}
	<span class="paste-title">
		<i class="icon-warning"></i> <strong>{{.}}</strong>
	</span>
</div>{{end}}

{{define "error_title"}}Error{{end}}
{{define "error_body"}}
{{template "partial_warning_title" "Something's Wrong :("}}
<div class="well well-error">
	{{.Obj.Error}}<br>
	<a href="/">Go to the homepage and try again.</a>
</div>
{{end}}

{{define "404_title"}}404{{end}}
{{define "404_body"}}
{{template "partial_warning_title" "404 - File Not Found :("}}
<div class="well well-error">
	The file you were looking for{{if .Request}}, "{{.Request.URL.Path}}",{{end}} could not be found.<br>
	<a href="/">Go to the homepage and try again.</a>
</div>
{{end}}

{{define "paste_not_found_title"}}404{{end}}
{{define "paste_not_found_body"}}
{{template "partial_warning_title" "Ghost got your paste?"}}
<div class="well well-error">
	{{.Obj.Error}}
	<code class="code ghost">{{randomGhost}}</code>
	<a href="/">Go to the homepage and try again.</a>
</div>
{{end}}

{{define "partial_error"}}
<div class="well well-error">
	{{.Obj.Error}}
</div>
{{end}}
