{{define "page_error"}}
{{template "header" "Error"}}
<div class="paste">
<div class="paste-toolbox">
	{{template "home-button"}}
	<span class="paste-title">
		<i class="icon-warning"></i> <strong>Something's Wrong :(</strong>
	</span>
</div>
<div class="well well-error">
	{{.Obj.Error}}<br>
	<a href="/">Go to the homepage and try again.</a>
</div>
</div>
{{template "footer" .}}
{{end}}

{{define "page_404"}}
{{template "header" "404"}}
<div class="paste">
<div class="paste-toolbox">
	{{template "home-button"}}
	<span class="paste-title">
		<i class="icon-warning"></i> <strong>404 - File Not Found :(</strong>
	</span>
</div>
<div class="well well-error">
	The file you were looking for{{if .Request}}, "{{.Request.URL.Path}}",{{end}} could not be found.<br>
	<a href="/">Go to the homepage and try again.</a>
</div>
</div>
{{template "footer" .}}
{{end}}

{{define "page_paste_not_found"}}
{{template "header" "404"}}
<div class="paste">
<div class="paste-toolbox">
	{{template "home-button"}}
	<span class="paste-title">
		<i class="icon-warning"></i> <strong>Ghost got your paste?</strong>
	</span>
</div>
<div class="well well-error">
	{{.Obj.Error}}
	<a href="/">Go to the homepage and try again.</a>
</div>
</div>
{{template "footer" .}}
{{end}}
