{{define "page_paste_authenticate"}}
{{template "header" .}}
<div class="paste">
<div class="paste-toolbox">
	{{template "home-button"}}
	<span class="paste-title">
		<i class="icon-lock"></i><strong>Paste {{requestVariable . "id"}}</strong>
		<span class="paste-subtitle">Authentication Required</span>
	</span>
</div>
<div class="well">
<form method="post">
<p>Paste <strong>{{requestVariable . "id"}}</strong> is password-protected.</p>
{{$i:=requestVariable . "i"}}
<div class="control-group{{if $i}} error{{end}}">
<div class="input-prepend phone-expand">
	<span class="add-on"><i class="icon-lock"> </i></span>
	<div class="input-wrapper"><input type="password" name="password" autocomplete="off"></div>
</div>
{{if $i}}<span class="help-inline">Incorrect Password</span>{{end}}
</div>
<button type="submit" class="btn btn-phone-expand">Okay!</button>
</form>
</div>
</div>
{{template "footer" .}}
{{end}}
