{{define "paste_edit_title"}}{{.Obj.ID}}{{end}}
{{define "paste_edit_body"}}
{{template "paste_edit_partial" .}}
<div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<form name="deleteForm" action="{{pasteURL "delete" .Obj}}" method="post">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3>Confirm Deletion</h3>
	</div>
	<div class="modal-body">
		<p>Are you sure you want to delete paste <strong>{{.Obj.ID}}</strong>?</p>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-danger">Destroy! Annihilate!</button>
		<button data-dismiss="modal" class="btn" aria-hidden="true">Nevermind</button>
	</div>
	</form>
</div>
{{end}}

{{define "paste_edit_partial"}}
<form id="pasteForm" action="{{if .Obj}}{{pasteURL "edit" .Obj}}{{else}}/paste/new{{end}}" method="post" data-context="{{if .Obj}}edit{{else}}new{{end}}">
<div class="sizefix clearfix">
<div class="paste-toolbox">
	{{template "home-button"}}
	<span class="paste-title"><strong id="editable-paste-title" data-placeholder="{{with .Obj}}Paste {{.ID}}{{else}}New Paste{{end}}" contenteditable>{{with .Obj}}{{.Title}}{{end}}</strong></span>
	<div class="paste-toolbox-buttons pull-right" id="desktop-paste-control-container">
		<div id="paste-controls">
			{{if not .Obj}}
			<button id="optionsButton" title="Options" type="button" class="btn btn-inverse">
				<i class="icon-wrench icon-large"></i>
				<span class="button-title">Options</span>
			</button>
			{{end}}
			<button id="expirationButton" title="Expiration" type="button" class="btn btn-inverse">
				<i class="icon-clock icon-large"></i>
				<span class="button-title">Expiration</span>
				<span class="button-data-label"></span>
			</button>
			{{if not .Obj}}{{if encryptionAllowed .}}<button id="encryptionButton" title="Encryption" type="button" class="btn btn-inverse">
				<i id="encryptionIcon" class="icon-lock-open-alt icon-large"></i>
				<span class="button-title">Encryption</span>
				<span class="button-data-label"></span>
			</button>{{end}}{{end}}
			{{template "s2langbox" .Obj}}
			{{if .Obj}}<button title="Delete" type="button" data-target="#deleteModal" data-toggle="modal" class="btn btn-danger">
				<i class="icon-trash icon-large"></i>
				<span class="button-title">Delete</span>
			</button>{{end}}
		</div>
		<button title="Save" type="submit" class="btn btn-primary">
			<i class="icon-save icon-large"></i>
		</button>
	</div>
</div>
<div class="code code-line-numbers unselectable" id="line-numbers" aria-hidden="true"></div>
<div class="textarea-height-wrapper">
<textarea id="code-editor" autofocus="autofocus" tabindex="1" class="code" name="text" rows="20" wrap="off">{{if .Obj}}{{pasteBody .Obj}}{{end}}</textarea>
</div>
</div>
<div class="well visible-phone" id="phone-paste-control-container"></div>
<input type="hidden" name="expire" value="{{if .Obj}}{{.Obj.Expiration}}{{else}}-1{{end}}">
<input type="hidden" name="password" value="">
<input type="hidden" name="title" value="">
<div id="expireModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-cancel"></i></button>
		<h3>Expiration</h3>
	</div>
	<div class="modal-body">
		<p>How long should this paste be allowed to roam the Earth?</p>
		<div data-toggle="buttons-radio" class="btn-trough">
			<button type="button" class="btn" data-value="-1" data-display-value="">Forever</button>
			<button type="button" class="btn" data-value="10m" data-display-value="10m">Ten Minutes</button>
			<button type="button" class="btn" data-value="1h" data-display-value="1h">an Hour</button>
			<button type="button" class="btn" data-value="1d" data-display-value="1d">a Day</button>
			<button type="button" class="btn" data-value="2d" data-display-value="2d">two Days</button>
		</div>
	</div>
	<div class="modal-footer">
		<button data-dismiss="modal" class="btn" aria-hidden="true">Cancel</button>
	</div>
</div>
</form>
{{end}}

{{define "s2langbox"}}<input type="hidden" class="dropdown" id="langbox" name="lang"{{if .Language}} data-selected="{{.Language.ID}}"{{end}}>{{end}}
