{{define "paste_delete_confirm_title"}}Delete?{{end}}
{{define "paste_delete_confirm_body"}}
<div class="well">
<form name="deleteForm" action="{{pasteURL "delete" .Obj}}" method="post">
<strong>Confirm</strong><br>
<p>Are you sure you want to delete paste {{.Obj.ID}}?</p>
<div class="paste-miniature">
<div class="code{{if .Obj.Language.DisplayStyle}} code-{{.Obj.Language.DisplayStyle}}{{end}}" id="code">{{render .Obj}}</div>
</div>
<button type="submit" class="btn btn-danger btn-phone-expand">Destroy! Annihilate!</button>
<a href="{{pasteURL "show" .Obj}}" class="btn btn-phone-expand">Nevermind</a>
</form>
</div>
{{end}}
