{{define "page_paste_show"}}
{{template "header" .Obj.ID}}
<div class="paste">
<div class="paste-toolbox unselectable">
	{{template "home-button"}}
	<span class="paste-title">
		{{if .Obj.Encrypted}}<i class="icon-lock"></i>{{end}}<strong>Paste {{.Obj.ID}}</strong>
		<span class="paste-subtitle">{{with langByLexer .Obj.Language}}{{.Title}}{{else}}({{.Obj.Language}}){{end}}</span>
	</span>
	<div class="paste-toolbox-buttons pull-right" id="desktop-paste-control-container">
		<div id="paste-controls">
			<div class="btn-group">
				<a title="View Raw" href="{{pasteURL "raw" .Obj}}" class="btn btn-inverse">
					<i class="icon-file-text icon-large"></i>
					<span class="button-title">View Raw</span>
				</a>
				<a title="Download" href="{{pasteURL "download" .Obj}}" class="btn btn-inverse">
					<i class="icon-download icon-large"></i>
					<span class="button-title">Download</span>
				</a>
			</div>
		</div>
		{{if editAllowed .}}<a title="Edit" href="{{pasteURL "edit" .Obj}}" class="btn btn-primary">
			<i class="icon-edit icon-large"></i>
		</a>{{end}}
	</div>
</div>
<div class="code code-line-numbers unselectable" id="line-numbers" aria-hidden="true"></div>
<div class="code" id="code">{{render .Obj}}</div>
</div>
<div class="well visible-phone unselectable" id="phone-paste-control-container"></div>
{{template "footer" .}}
{{end}}
