{{define "page_paste_edit"}}
{{template "header" .}}
{{template "paste_edit_partial" .Obj}}
{{template "footer" .}}
{{end}}

{{define "paste_edit_partial"}}
<form action="{{if .}}{{pasteURL "edit" .}}{{else}}/paste/new{{end}}" method="post">
<div class="paste">
<div class="paste-toolbox">
	{{template "home-button"}}
	<span class="paste-title"><strong>{{if .}}Paste {{.ID}}{{else}}New Paste{{end}}</strong></span>
	<div class="paste-toolbox-buttons pull-right hidden-phone" id="desktop-paste-control-container">
		<div id="paste-controls" style="display: inline;">
			{{if not .}}<div class="input-prepend phone-expand">
				<span class="add-on"><i class="icon-lock"> </i></span>
				<div class="input-wrapper"><input type="password" name="password" autocomplete="off" placeholder="optional password"></div>
			</div>{{end}}
			{{template "s2langbox" .}}
			{{if .}}<button title="Delete" type="button" data-target="#deleteModal" data-toggle="modal" class="btn btn-danger">
				<i class="hidden-phone icon-trash icon-large"></i>
				<span class="visible-phone">Delete</span>
			</button>{{end}}
			<button title="Save" type="submit" class="btn btn-primary">
				<i class="hidden-phone icon-save icon-large"></i>
				<span class="visible-phone">Save</span>
			</button>
		</div>
	</div>
</div>
<div class="textarea-height-wrapper">
<textarea tabindex="1" class="code" name="text" rows="20">{{if .}}{{pasteBody .}}{{end}}</textarea>
</div>
</div>
<div class="visible-phone" id="phone-paste-control-container"></div>
</form>
{{if .}}<div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<form name="deleteForm" action="{{pasteURL "delete" .}}" method="post">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3>Confirm Deletion</h3>
	</div>
	<div class="modal-body">
		<p>Are you sure you want to delete paste {{.ID}}?</p>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-danger">Destroy! Annihilate!</button>
		<button data-dismiss="modal" class="btn" aria-hidden="true">Nevermind</button>
	</div>
	</form>
</div>{{end}}
{{end}}

{{define "s2langbox"}}{{ $lang := or .Language "text" }}{{if langByLexer $lang | not}}{{$lang := "text"}}{{end}}<select class="dropdown" id="langbox" name="lang" data-selected="{{$lang}}">
{{languageOptionListHTML}}
</select>{{end}}
