{{define "page_paste_edit"}}
{{template "header" .Obj.ID}}
{{template "paste_edit_partial" .Obj}}
{{template "footer" .}}
{{end}}

{{define "paste_edit_partial"}}
<form action="{{if .}}{{pasteURL "edit" .}}{{else}}/paste/new{{end}}" method="post">
<div class="clearfix paste">
<div class="paste-toolbox">
	{{template "home-button"}}
	<span class="paste-title"><strong>{{if .}}Paste {{.ID}}{{else}}New Paste{{end}}</strong></span>
	<div class="paste-toolbox-buttons pull-right" id="desktop-paste-control-container">
		<div id="paste-controls">
			<button id="expirationButton" title="Expiration" type="button" class="btn btn-inverse">
				<i class="icon-clock icon-large"></i>
				<span class="visible-phone">Expiration</span>
			</button>
			{{if not .}}<button id="encryptionButton" title="Encryption" type="button" class="btn btn-inverse">
				<i id="encryptionIcon" class="icon-lock-open-alt icon-large"></i>
				<span class="visible-phone">Encryption</span>
			</button>{{end}}
			{{template "s2langbox" .}}
			{{if .}}<button title="Delete" type="button" data-target="#deleteModal" data-toggle="modal" class="btn btn-danger">
				<i class="icon-trash icon-large"></i>
				<span class="visible-phone">Delete</span>
			</button>{{end}}
		</div>
		<button title="Save" type="submit" class="btn btn-primary">
			<i class="icon-save icon-large"></i>
		</button>
	</div>
</div>
<div class="code code-line-numbers unselectable" id="line-numbers" aria-hidden="true"></div>
<div class="textarea-height-wrapper">
<textarea id="code-editor" autofocus="autofocus" tabindex="1" class="code" name="text" rows="20" wrap="off">{{if .}}{{pasteBody .}}{{end}}</textarea>
</div>
</div>
<div class="well visible-phone" id="phone-paste-control-container"></div>
<input type="hidden" name="expire" value="{{if .}}{{.Expiration}}{{else}}-1{{end}}">
<div id="expireModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3>Expiration</h3>
	</div>
	<div class="modal-body">
		<p>How long should this paste be allowed to roam the Earth?</p>
		<div data-toggle="buttons-radio" class="btn-trough">
			<button type="button" class="btn" data-value="-1">Forever</button>
			<button type="button" class="btn" data-value="10m">Ten Minutes</button>
			<button type="button" class="btn" data-value="1h">an Hour</button>
			<button type="button" class="btn" data-value="24h">a Day</button>
			<button type="button" class="btn" data-value="336h">a Fortnight</button>
		</div>
	</div>
	<div class="modal-footer">
		<button data-dismiss="modal" class="btn" aria-hidden="true">Okay</button>
	</div>
</div>
{{if not .}}<div id="encryptModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3>Encrypt Paste</h3>
	</div>
	<div class="modal-body">
		<p>Enter a password with which to encrypt this paste, or leave it blank to eschew encryption.</p>
		<div class="input-prepend phone-expand">
			<span class="add-on"><i class="icon-lock"> </i></span>
			<div class="input-wrapper"><input type="password" name="password" autocomplete="off" placeholder="password"></div>
		</div>
	</div>
	<div class="modal-footer">
		<button data-dismiss="modal" class="btn" aria-hidden="true">Okay</button>
	</div>
</div>{{end}}
</form>
{{if .}}<div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<form name="deleteForm" action="{{pasteURL "delete" .}}" method="post">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3>Confirm Deletion</h3>
	</div>
	<div class="modal-body">
		<p>Are you sure you want to delete paste <strong>{{.ID}}</strong>?</p>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-danger">Destroy! Annihilate!</button>
		<button data-dismiss="modal" class="btn" aria-hidden="true">Nevermind</button>
	</div>
	</form>
</div>{{end}}
{{end}}

{{define "s2langbox"}}{{ $lang := or .Language "text" }}{{if langByLexer $lang | not}}{{$lang := "text"}}{{end}}<select class="dropdown" id="langbox" name="lang" data-selected="{{$lang}}">
{{languageOptionListHTML}}
</select>{{end}}
