{{define "session_title"}}Session{{end}}
{{define "session_body"}}
<div class="paste-toolbox">
	{{template "home-button"}}
	<span class="paste-title">
		<strong>All Pastes by You</strong>
		<span class="paste-subtitle">{{len .Obj}}</span>
	</span>
</div>
<div class="content">
	<div class="well">
		{{partial . "login_logout"}}
	</div>
	<ul class="paste-list">
	{{range .Obj}}<li>
		<a href="{{pasteURL "show" .}}"><span class="paste-title">
			{{with .Title}}
			<strong>{{.}}</strong>
			{{else}}
			<strong>{{.ID}}</strong>
			{{end}}
			<span class="paste-subtitle">{{.Language.Name}}
				{{if .Encrypted}}<i class="icon-lock"></i>{{end}}{{if pasteWillExpire .}}<i class="icon-clock"></i>{{end}}
			</span>
		</span></a>
	</li>{{end}}
	</ul>
</div>
{{end}}
