{{define "page_session_pastes"}}
{{template "header" "Session"}}
<div class="paste">
<div class="paste-toolbox">
	{{template "home-button"}}
	<span class="paste-title">
		<strong>All Pastes by You</strong>
		<span class="paste-subtitle">{{len .Obj}}</span>
	</span>
</div>
<ul class="paste-list">
{{range .Obj}}<li>
	<a href="{{pasteURL "show" .}}"><span class="paste-title"><strong>{{.ID}}</strong>
		<span class="paste-subtitle">{{with langByLexer .Language}}{{.Title}}{{else}}({{.Language}}){{end}}
			{{if .Encrypted}}<i class="icon-lock"></i>{{end}}{{if pasteWillExpire .}}<i class="icon-clock"></i>{{end}}
		</span>
	</span></a>
</li>{{end}}
</ul>
</div>
{{template "footer" .}}
{{end}}
