.afl0 { color: #000000; }
.afl1 { color: #be0000; }
.afl2 { color: #00be00; }
.afl3 { color: #bebe00; }
.afl4 { color: #0000be; }
.afl5 { color: #be00be; }
.afl6 { color: #00bebe; }
.afl7 { color: #bebebe; }
.afh0 { color: #000000; }
.afh0a { color: #4d4d4d; }
.afh1 { color: #ff0000; }
.afh2 { color: #00ff00; }
.afh3 { color: #ffff00; }
.afh4 { color: #0000ff; }
.afh5 { color: #ff00ff; }
.afh6 { color: #00ffff; }
.afh7 { color: #ffffff; }
.abl0 { background-color: #000000; }
.abl1 { background-color: #be0000; }
.abl2 { background-color: #00be00; }
.abl3 { background-color: #bebe00; }
.abl4 { background-color: #0000be; }
.abl5 { background-color: #be00be; }
.abl6 { background-color: #00bebe; }
.abl7 { background-color: #bebebe; }
.abh0 { background-color: #000000; }
.abh1 { background-color: #ff0000; }
.abh2 { background-color: #00ff00; }
.abh3 { background-color: #ffff00; }
.abh4 { background-color: #0000ff; }
.abh5 { background-color: #ff00ff; }
.abh6 { background-color: #00ffff; }
.abh7 { background-color: #ffffff; }
.ansi_blink { text-decoration: blink; }
.ansi_underline { text-decoration: underline; }
.ansi_italic { font-style: italic; }
.ansi_faint { font-weight: lighter; }
.ansi_bold { font-weight: normal; }
